/**
 * Global CSS Definitions
 */

body{

	background:#221d23;
    margin:0;
    font-family:Arial, Arial, Helvetica, sans-serif;
    background:@plain-white;
    -webkit-font-smoothing:antialiased;
    text-shadow:1px 1px 1px rgba(0,0,0,0.004);
    overflow:hidden;
}